<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ metadescription }}">

    <link rel="stylesheet" href="/static/lib/skeleton/normalize.css" />
    <link rel="stylesheet" href="/static/lib/skeleton/skeleton.css" />
    <link rel="stylesheet" href="/static/style.css" />
    
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
</head>
<header>
    <div class="title">
        <a class="logo" href="/">
        <img src="/static/images/icon.svg" alt="Home Icon"></a>
        <h1 class="green">The Happiness Generator - Do more of what brings you joy!</h1>
    </div>
    <h3 class="container">A little project to bring more happiness into your daily life.</h3>
</header>
<body>
    <div class="container">
        <!-- Content placeholder, for different content on all pages -->
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        <div class="container">
            <!-- Basic navigation to be used in the footer of all pages -->
            <ul class="navigation">
                <li class="navigation-item">
                    <a href="/">Start</a>
                </li>
                <li class="navigation-item">
                    <a href="/list">Entire list of happiness</a>
                </li>
            </ul>
        </div> 
        <div class="container">
          <p>"The Happiness Generator" was written by Cora Egli for EPFL Extension School, summer 2020<br />
          Icon Credit: Logos made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a href="https://www.flaticon.com/">www.flaticon.com</a></p>  
        </div> 
    </footer>
    <script src="/static/add.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> 
</body>
</html>