{% extends "layouts/main.html" %}

{% block content %}
<h2>Happiness Item zzz</h2>
<div class="container">
    <!-- Another happiness item presented at random -->
    <p>Some random happiness item</p>
    <div class="sharing">
        <p>Did you like this input? Spread the happiness!</p>
        <p>Share on Twitter</p>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="This happiness input gave me joy. Want to have a go too?" data-via="CoraEgli" data-hashtags="happinessgenerator" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p>Share on WhatsApp</p>
        <p>Share on Facebook</p>
    </div>
</div>

{% endblock %}